body {
  background-color: #252424;
  overflow-y: none;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blinking 1s infinite;
}

/* css de merde  */
.container {  
  display: grid;
  grid-template-columns: 1.6fr 0.4fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header img2"
    "header img3"
    "header img4";
}

.header { grid-area: header; background-image: url('./assets/hero.png'); background-repeat: no-repeat; background-position: center center; background-size: cover;}
.header > h1 {
  color: white;
  text-align: center;
  position: relative;
  top: 80%;
}
.img2 { grid-area: img2;background-image: url('./assets/car2.png'); background-repeat: no-repeat; background-position: center center; background-size: cover; }
.img2 > h2 {
  color: black;
  background-color: white;
  position: relative;
  top: 70%;
  left: 81%;
  padding: 5px;
  width: fit-content;
  cursor: pointer;
}
.img3 { grid-area: img3; background-image: url('./assets/car3.png'); background-repeat: no-repeat; background-position: center center; background-size: cover; }
.img3 > h2 {
  color: black;
  background-color: white;
  padding: 5px;
  width: fit-content;
  cursor: pointer;
}
.img4 { grid-area: img4; background-image: url('./assets/car4.png'); background-repeat: no-repeat; background-position: center center; background-size: cover;}
.img4 > h2 {
  color: black;
  text-align: end;
  background-color: white;
  padding: 5px;
  position: relative;
  top: 60%;
  width: fit-content;
  cursor: pointer;
}

.form {
  margin: auto;
}

.form * {
  margin: 10px;
}