body {
  background-color: #252424;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blinking 1s infinite;
}

.full-width-grid-item {
  width: 100%;
}